h1{
  font-weight: 900;
  font-size: 50px;
  font: helvetica;
  font-family: sans-serif;
  color: lightseagreen;
  margin: 1;
  text-align: center;
  background-color: slategray;
}

#title-sub-heading{
  font:georgia;
  font-family: serif;
  font-size: 20px;
}

#copyright{
  font: georgia;
  font-family: serif;
  font-size: 10px;
}

#introduction{
  text-align: center;
  border: 5px dashed lightseagreen;
  margin: 1;
}

h2{
  font-weight: 750;
  font: helvetica;
  font-family: sans-serif;
  font-size: 45px;
  color: lightseagreen;
  margin-bottom: 0;
}

.recipe-title{
  font: helvetica;
  font-family: sans-serif;
  font-size: 30px;
  color: lightseagreen;
  margin: 0;
}

.recipe-sub-heading{
  font: helvetica;
  font-family: sans-serif;
  font-size: 20px;
  color: lightseagreen;
  font-style: italic;
}

.helpful-hint{
  font: georgia;
  font-family: serif;
  font-size: 15px;
  font-style: italic;
}
